/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.breeze-menu-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.breeze-menu-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  color: var(--text-color);
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.breeze-menu-wrapper[data-position^="right"] {
  left: unset;
  right: 3px;
}

.breeze-menu-wrapper[data-position*="bottom"] {
  top: unset;
  transform: unset;
  bottom: 3px;
}

.breeze-menu {
  align-items: center;
  gap: 3px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.breeze-menu-wrapper[data-position^="right"] .breeze-menu {
  flex-direction: row-reverse;
}

.breeze-menu__icon {
  line-height: 0;
  padding: 6px;
  background-color: var(--background-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.breeze-menu__text {
  background-color: var(--background-color);  
  height: 100%;
  padding-inline: 10px;
  opacity: 0;
  transform: translateX(-10%);
  pointer-events: none;
  transition: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 12px;
  flex-grow: 1;
}

.breeze-menu-wrapper[data-position^="right"] .breeze-menu__text {
  transform: translateX(10%);
}

.breeze-menu-wrapper.show-texts .breeze-menu span:last-child {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
  transition: .2s ease-in;
}

.breeze-menu-wrapper[data-position*="bottom"] .breeze-menu:last-child {
  order: -1;
}

.breeze-menu-wrapper:not(.show-texts) .breeze-menu__close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}