/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.breeze-menu-item {
  display: flex; 
  gap: .5em; 
  align-items: flex-end;
}

.breeze-menu-item + .breeze-menu-item {
  margin-top: 1em;
}